# https://garagehq.deuxfleurs.fr/documentation/quick-start/#generating-a-first-configuration-file
metadata_dir = "/tmp/meta"
data_dir = "/tmp/data"
db_engine = "sqlite"

replication_factor = 1

rpc_bind_addr = "[::]:3901"
rpc_public_addr = "127.0.0.1:3901"
rpc_secret = "1df97caa633774eacd496c26cb3e9ae7f4d93c29083ac5a056b8f0421e3ad1d9"

[s3_api]
s3_region = "garage"
api_bind_addr = "[::]:3900"
root_domain = ".s3.garage.localhost"

[s3_web]
bind_addr = "[::]:3902"
root_domain = ".web.garage.localhost"
index = "index.html"

[k2v_api]
api_bind_addr = "[::]:3904"

[admin]
api_bind_addr = "[::]:3903"
admin_token = "T6+TMXhkXMTFrr3Cr0Mk9AMV0ZRBXXstmvtpS+bHlN4="
metrics_token = "ozTQ+6ZwgO/DEy6zXc5I+EasyhhVUwoOOZB3Ss2lmDY="
